body {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 15%;
  margin: 0px auto;
  padding: 3em;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
  background-color: rgba(0, 0, 0, 0.308);
  color: black;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container h1{
  text-align: center;
}
#pokeball{
  margin-top: 1em;
  margin-bottom: 1em;
}
.input{
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.438);
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 110%;
  text-align: center;
}

.button{
  width: 70%;
  border: none;
  border-radius: 10px;
  margin-bottom: 1em;
  font-size: 110%;
  background-color: #f15757;
  transition: 0.3s;
}
.button:hover{
  transform: scale(1.2);
  cursor: pointer;
  background-color: #812c2c;
  color: white;
}

